body {
    background-color: yellow;
}
.row1 {
    background-color: orange;
    display: flex;
}
.rbox1 {
    background-color: red;
    width: 300px;
    height: 50px;
    margin: 5px;
}
.rbox2 {
    background-color: red;
    width: 200px;
    height: 50px;
    margin: 5px;
}
.rbox3 {
    background-color: red;
    width: 300px;
    height: 50px;
    margin: 5px;
    position:sticky;
    left: 1800px;
}
.pbox1 {
    background-color: purple;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px ;
    margin-bottom: 0px;
    width: 780px;
    height: 50px;
}
.pbox2 {
    background-color: brown;
    margin-left: 4px;
    margin-right: 4px ;
    margin-bottom: 0px;
    width: 780px;
    height: 185px;
}
.bbox1 {
    background-color: blue;
    margin: 4px;
    width: 780px;
    height: 30px;
}
.bbox2 {
    background-color: blue;
    width: 780px;
    height: 30px;
    margin: 4px;
}
.bbox3 {
    background-color: blue;
    width: 780px;
    height: 30px;
    margin: 4px;
}

.row23 {
    display: flex;
}
.greybox {
    background-color: gray;
    margin: 5px;
    height: 120px;
    width: 1100px;
}
.greygreen {
    display: flex;
}
.gbox {
    margin: 5px;
    background-color: green;
    height: 100px;
    width: 350px;
    text-align: center;
}
.mbox {
    display: flex;
    margin-top: 15px;
}
.mbox1 {
    width: 550px;
    height: 100px;
    padding-top: 4px;
    margin: 4px;
    background-color: maroon;
}
.r2box {
    width: 1095px;
    height: 45px;
    margin-top: 5px;
    background-color: red;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: 
        "row1"
        "row23"
        "row2"
        "row3"
        "greybox"
        ;
    }
}
